
<a href ='/'>
  <div class= 'headerContainer'>
    <div class ='birdbox'>
      <img src='/images/tyeDyeKingfisher.png' class ='kingfisher' alt ='Tie Dye Kingfisher'>
    </div>
    <div class ='birdbox'>
      <h1 class ='header'>Kingfisher<br>Tie Dye</h1>
    </div>
    <div class ='break'>
    </div>
    <div class ='birdbox'>
      <h3 class='tagLine'>Wear Joyfully, Be Kind!</h3>
    </div>
  </div>
</a>
<nav class='navContainer'>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- THIS IS TO HIGHLIGHT CURRENT TAB IN THE NAV  -->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<%
let collection = ''
let archive = ''
let contact = ''
let add = ''
if (test === 'coll') {
  collection = 'selected'
} else if (test === 'arch') {
  archive = 'selected'
} else if (test === 'cont') {
  contact = 'selected'
} else if (test === 'add') {
  add = 'selected'
} else {}
%>

<div>
  <a href ='/collections' class='navLink <%= collection %> ' >Collections</a>
</div>
<div>
  <a href ='/archives' class='navLink <%= archive %> '>Archives</a>
  </div>
  <div>
  <a href ='/contact' class='navLink <%= contact %>'>Contact</a>
  </div>
  <div>
  <a href ='/new' class ='navLink secret <%= add %>'>Add New Item</a>
  </div>
</nav>
