<a href ='/'><h1>Kingfisher Tye Dye</h1></a>
<h3>Wear with Joy and Be Kind!</h3>
<nav>
  <a href ='/' class='navLink'>Home</a>
  <a href ='/collections' class='navLink'>Collections</a>
  <a href ='/family' class='navLink'>Tye Dye Family</a>
  <a href ='/contact' class='navLink'>Contact</a>
  <a href ='/new' class ='navLink secret'>Add New Item</a>
</nav>
