
<div class= 'headerContainer'>
  <div class ='birdbox'>
    <img src='/images/tyeDyeKingfisher.png' class ='kingfisher' alt ='Tie Dye Kingfisher'>
  </div>
  <div class ='birdbox'>
    <a href ='/'><h1 class ='header'>Kingfisher<br>Tye Dye</h1></a>
    <h3 class='tagLine'>Wear with Joy and Be Kind!</h3>
  </div>
</div>
<nav class='navContainer'>
<div>
  <a href ='/collections' class='navLink'>Collections</a>
</div>
<div>
  <a href ='/archives' class='navLink'>Archives</a>
  </div>
  <div>
  <a href ='/contact' class='navLink'>Contact</a>
  </div>
  <div>
  <a href ='/new' class ='navLink secret'>Add New Item</a>
  </div>

</nav>
