<a href ='/'><h1 class ='header'>Kingfisher Tye Dye</h1></a>
<h3>Wear with Joy and Be Kind!</h3>
<nav>
  <a href ='/collections' class='navLink'>Collections</a>
  <a href ='/archives' class='navLink'>Archives</a>
  <a href ='/contact' class='navLink'>Contact</a>
  <a href ='/new' class ='navLink secret'>Add New Item</a>
</nav>
