<h1>Kingfisher Tye Dye</h1>
<h3>Wear with Joy and Be Kind!</h3>
<nav>
  <a href ='/'>Home</a>
  <a href ='/collections'>Collections</a>
  <a href ='/family'>Tye Dye Family</a>
  <a href ='/contact'>Contact</a>
  <a href ='/new' class ='secret'>Add New Item</a>
</nav>
