body {
  padding: .5em;
}
/*-----------------------------------------------
        MAKE THE BACKGROUND OPAQUE ONLY  https://css-tricks.com/snippets/css/transparent-background-images/
-----------------------------------------------*/
body::after {
  content: "";
  background: url('/images/inkBackgroundink2.png');
  background-size: 101%;
  background-repeat: no-repeat;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
a {
  text-decoration: none;
}
form {
  margin: 1em;
}
input {
  margin: .5em;
}
select {
  margin: .5em;
}
.headerContainer {
  display: flex;
  justify-content: left;
}
.kingfisher {
  width: 12em;
}
.birdbox {
  margin-left: -.7em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  margin-top: .1em;
  margin-left: ;
  font-size: 2.8em;
  line-height: 1.6em;

  /* color:rgba(0, 200, 255) ;
  text-shadow: 1px 2px rgba(255, 50, 0, 1); */

  color: rgba(0, 150, 255);
  text-shadow: 2px 3px rgba(226, 89, 255, 1);

  /* color: rgba(255, 25, 60 , 1);
  text-shadow: 2px 3px rgba(0, 180, 255); */

  font-family: 'Rock Salt';
  letter-spacing: .06em;
  display: inline-block;
}
.tagLine {
  margin-left: -2em;
  margin-top: -1.7em;
  font-family: 'Rock Salt';
  font-size: 1.5em;
  /* color:rgba(0, 200, 255) ;
  text-shadow: 1px 2px rgba(255, 50, 0, 1); */

  color: rgba(255, 50, 0, 1);
  text-shadow: 1px 2px rgba(0, 180, 255);
}
.navContainer {
  display: flex;
  flex-wrap: wrap;
}
.navLink {
  padding: .4em;
  border-radius: 6px;
  border: solid rgba(255, 0, 255, .6) 1px;
  margin: 1em;
  margin-bottom: 1em;
  color: white;
  background-color: rgba(0, 180, 255);
  text-decoration: none;
}
.collectionNav {
  display: flex;

}
.collectionLink {
  padding: .4em;
  border-radius: 6px;
  border: solid rgba(255, 0, 255, .6) 1px;
  margin: 1em;
  color: white;
  background-color: rgba(226, 89, 255, 1);
  text-decoration: none;
}
.focus {
  border-radius: 6px;
  border: solid black 1px;
  color: purple;
}
.crudContainer {
  display: flex;
  margin-top: -2em;
}
.secret {
  /* display: none; */
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;

}
.card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  background-color: rgba(0,255 ,250,.6);
  /* border: solid purple 1px; */
  /* box-shadow: 3px 3px 10px 3px Purple; */
  border-radius: .4em;
  margin: .5em;
  text-align: center;
  width: 7em;
}
.cardImg {
  border-radius: 100px;
  margin: .4em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 5em;
  height: 5em;
  border: solid purple 1px;
  box-shadow: 3px 1px 20px 1px purple;
}
.imgShow {
  border-radius: 6px;
  width: 25em;
  border: solid purple 1px;
  box-shadow: 3px 1px 20px 1px purple;
}
.showContainer {
  display:flex;
}
.insideContainer {
  display: flex;
  flex-direction: column;
}
.showStat {
  padding-left: 1.5em;
}
.hidden {
  display: none;
}
.selected {
  background-color: rgba(226, 89, 255, 1);
}

/*-----------------------------------------------
      MEDIA QUERIES
-----------------------------------------------*/
@media only screen and (max-width: 600px) {
  body {
    background-size: 120% auto;
  }
  .header {
    margin-left: -1em;
    font-size: 1.6em;
    color: rgba(255, 25, 60 , 1);
    text-shadow: 2px 3px rgba(0, 180, 255);
    font-family: 'Rock Salt';
    letter-spacing: .06em;
    display: inline-block;
  }
  .tagLine {
    margin-left: -2em;
    margin-top: -1.7em;
    font-family: 'Rock Salt';
    font-size: .7em;
    color: rgba(255, 50, 0, 1);
    text-shadow: 1px 2px rgba(0, 180, 255);
  }
  .kingfisher {
    width: 9em;
  }
  .navContainer {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
  }
  .navLink {
    padding: .4em;
    border-radius: 6px;
    border: solid rgba(255, 0, 255, .6) 1px;
    margin: 1em;
    margin-bottom: 10em;
    color: white;
    background-color: rgba(0, 180, 255);
    text-decoration: none;
  }















/**/
